body {
margin: 0px;
padding: 0px;
}
#maincanvas {
	height:100%;
	width:85%;
	z-index:-20;
	position:absolute;
	left:0px;
	right:15%;
	padding-left:0px;
	padding-right:15%;
	top:0px;
	bottom:0px;
	padding-top:0px;
	padding-bottom:0px;
}
.image {
	position:relatave;
}
.button {
	position:relative;
	left:85%;
	top:0%;
}
