body {
margin: 0px;
padding: 0px;
}
#maincanvas {
	height:100%;
	width:85%;
	z-index:-20;
	position:absolute;
	left:0px;
	right:15%;
	padding-left:0px;
	padding-right:15%;
	top:0px;
	bottom:0px;
	padding-top:0px;
	padding-bottom:0px;
}
#reset {
	position:absolute;
	left:85%;
	top:0%;
}
#addcircle {
	position:absolute;
	right:0%;
	top:0%;
}
#reset-dialog {
	display: none;
}
#template-dialog {
	display: none;
}
#warning {
	background-color:red;
	position:absolute;
	right:0px;
	bottom:0px;
}